.calculator {
    width: 190px;
    height: 250px;
    background-color: lightsteelblue;
    border: 5px solid white;
    margin: 10px;
    text-align: center;
}

#title {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    margin: 10px 5px 0px 5px;
}

#answer {
    margin: 10px;
    width: 90%;
}

.row {
    display:block;
}

button {
    width: 40px;
    height: 30px;
    border: 1px lightsteelblue solid;
    border-radius: 40%;
    border-top-left-radius: 80% 10px;
    border-top-right-radius: 80% 10px;
    border-bottom-left-radius: 100% 10px;
    border-bottom-right-radius: 100% 10px;
    padding: 5px;
    margin: 1px 0px 1px 0px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;

}
.ctrl {
    color: pink;
}
.tall {
    height: 62px;
    float: right;
    margin-right: 8px;
    margin-left: -5px;
}

button:focus{
    outline: none;
    background-color: lightgreen;
}

